* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.video {
  margin: 0 auto;
  width: 80vw;
  height: 45vw;
}

.video::state(webkit-media-controls-play-button) {
  display: none;
}
